<a href="https://colab.research.google.com/github/WanjohiWanjohi/Breast_Cancer-Exploration/blob/master/breast_cancer_ipnyb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import  MinMaxScaler
from sklearn.impute import SimpleImputer

## Load Data into DataFrame`

In [ ]:
data= pd.read_csv('breast-cancer-wisconsin.data' , names=['id' , 'ClumpThickness' , 'Uniformity of Cell Size' , 'Uniformity of Cell Shape' , 'Marginal Adhesion' , 'Single Epithelial Cell Size' , 'Bare Nuclei' , 'Bland Chromatin' , 'Normal Nucleoli' , 'Mitoses' , 'Class'])
data.head()

        id  ClumpThickness  ...  Mitoses  Class
0  1000025               5  ...        1      2
1  1002945               5  ...        1      2
2  1015425               3  ...        1      2
3  1016277               6  ...        1      2
4  1017023               4  ...        1      2

[5 rows x 11 columns]

In [ ]:
data.drop(['id'] , axis=1 , inplace=True)

In [ ]:
data.head()

   ClumpThickness  Uniformity of Cell Size  ...  Mitoses  Class
0               5                        1  ...        1      2
1               5                        4  ...        1      2
2               3                        1  ...        1      2
3               6                        8  ...        1      2
4               4                        1  ...        1      2

[5 rows x 10 columns]

In [ ]:
data.replace('?',0, inplace=True)

In [ ]:
#treat missing values

#convert the df into a numpy array
values = data.values

In [ ]:
imputer = SimpleImputer()
imputed_data = imputer.fit_transform(values)

### Scaling

The ranges of the features of the dataset are not the same. This may cause a problem. A small change in a feature might not affect the other. To address this problem, you will normalize the ranges of the features to a uniform range, in this case, 0 - 1.

In [ ]:
scaler = MinMaxScaler(feature_range=(0,1))
normalized_data = scaler.fit_transform(imputed_data)

## Ensemble Experiments

In [ ]:
from sklearn import model_selection
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [ ]:
#Break the data apart into training features and labels
X= normalized_data[:,0:9]
y = normalized_data[:,9]

### Bagging Classifier

In [ ]:
kfold = model_selection.KFold(n_splits=10 , random_state=7)
cart = DecisionTreeClassifier()
num_trees= 100
model = BaggingClassifier(base_estimator=cart, n_estimators=num_trees, random_state=7)
results = model_selection.cross_val_score(model, X, y, cv=kfold)
print(results.mean())

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

0.9585714285714285

- First, we initialized a 10-fold cross-validation fold
- After that, we instantiated a Decision Tree Classifier with 100 trees and wrapped it in a Bagging-based Ensemble.

### AdaBoost Classifier

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
seed = 7
num_trees =  7 
kfold  = model_selection.KFold(n_splits=10)
model = AdaBoostClassifier(n_estimators=num_trees ,random_state=seed)
results = model_selection.cross_val_score(model ,X , y ,cv=kfold )

In [ ]:
print(results.mean())

0.9457142857142857

### Voting Based Ensemble

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

In [ ]:
kfold = model_selection.KFold(n_splits=10 , random_state=seed)
#create the sub models
estimators = []
model1 = LogisticRegression()
estimators.append(('logistic' , model1))
model2 = DecisionTreeClassifier()
estimators.append(('cart' , model2))
model3 = SVC()
estimators.append(('svm' , model3))

# create the ensemble model
ensemble = VotingClassifier(estimators=estimators)
results = model_selection.cross_val_score(ensemble , X , y , cv=kfold)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

In [ ]:
print(results.mean())

0.9628571428571429